@font-face {
    font-family: 'BertholdAkzidenzGroteskBELiRg';
    src: url('akzidenzgroteskbe-lightcn-webfont.eot');
    src: url('akzidenzgroteskbe-lightcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgroteskbe-lightcn-webfont.woff') format('woff'),
         url('akzidenzgroteskbe-lightcn-webfont.ttf') format('truetype'),
         url('akzidenzgroteskbe-lightcn-webfont.svg#BertholdAkzidenzGroteskBELiRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{width:100%;height:100%;}
body{margin:0;padding:0;background:#fff;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;}
a{color:#fff;}
input,select{font-family:BertholdAkzidenzGroteskBELiRg,arial;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;}
input{height:16px;padding:1px;margin:1px;}
select{height:20px;padding:0px;}

#logo{position:absolute;top:10px;left:10px;width:90px;height:90px;background:url(s.png) no-repeat -587px -292px;}

.zoom{background:url(p.png) no-repeat;width:47px;height:44px;margin:1px;margin-top:0px;}
.zoom a{display:inline-block;width:47px;height:44px;text-decoration:none;}


@media only screen and (max-device-width: 1024px) and (orientation:portrait) { 
	#map_canvas{position:relative;width:100%;height:300px;background:#39f;}
	#calc{position:relative;width:100%;height:100px;utop:70%;background:#000;}
	#zp{position:absolute;top:-50px;left:11px;background-position:-2px -2px;}
	#zm{position:absolute;top:-50px;left:58px;background-position:-56px -2px;}
	#search{position:absolute;top:-50px;left:120px;width:134px;height:43px;background:url(p.png) no-repeat -162px -2px;color:#fff;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:30px;border:0px;padding:1px;padding-left:48px;}
	#map_type{position:absolute;top:86px;left:150px;background:#000;border:0;font-family:BertholdAkzidenzGroteskBELiRg;color:#fff;width:70px;}
}
@media only screen and (max-device-width: 1024px) and (orientation:landscape) { 
	#map_canvas{position:absolute;width:50%;height:400px;background:#39f;}
	#calc{position:absolute;width:50%;height:400px;left:50%;background:#000;}
	#zp{position:absolute;top:6px;left:11px;background-position:-2px -2px;}
	#zm{position:absolute;top:6px;left:58px;background-position:-56px -2px;}
	#search{position:absolute;top:5px;left:120px;width:134px;height:43px;background:url(p.png) no-repeat -162px -2px;color:#fff;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:30px;border:0px;padding:1px;padding-left:48px;}
	#map_type{position:absolute;top:86px;left:150px;background:#000;border:0;font-family:BertholdAkzidenzGroteskBELiRg;color:#fff;width:70px;}
}

