@font-face {
    font-family: 'BertholdAkzidenzGroteskBELiRg';
    src: url('akzidenzgroteskbe-lightcn-webfont.eot');
    src: url('akzidenzgroteskbe-lightcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgroteskbe-lightcn-webfont.woff') format('woff'),
         url('akzidenzgroteskbe-lightcn-webfont.ttf') format('truetype'),
         url('akzidenzgroteskbe-lightcn-webfont.svg#BertholdAkzidenzGroteskBELiRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{width:100%;height:100%;}
body{margin:0;padding:0;background:#fff;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;}
a{color:#fff;}
input,select{font-family:BertholdAkzidenzGroteskBELiRg,arial;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;}
input{height:16px;padding:1px;margin:1px;}
select{height:20px;padding:0px;}

#logo{position:absolute;top:30px;left:10px;width:90px;height:90px;background:url(s.png) no-repeat -587px -292px;}

.zoom{background:url(s.png) no-repeat;width:20px;height:18px;margin:1px;margin-top:0px;}
.zoom a{display:inline-block;width:20px;height:18px;text-decoration:none;}
#zp{position:absolute;top:6px;left:11px;background-position:-203px -312px;}
#zm{position:absolute;top:6px;left:36px;background-position:-224px -312px;}
#rdv{position:absolute;top:1px;left:265px;width:25px;height:24px;background:url(s.png) no-repeat -437px -307px;margin:3px;}
.coord{display:inline-block;width:78px;}
#coords{position:absolute;top:8px;left:295px;font-size:15px;}
#tbbmenu{position:absolute;top:5px;left:60px;}
.mbtn {display:inline-block;height:19px;background:url(s.png) no-repeat;text-decoration:none;text-align:center;margin-top:0px;padding:0px;}
#mhlp{width:51px;background-position:0px -292px;}
#mhlp:hover{background-position:0px -312px;}
#mprn{width:51px;background-position:-51px -292px;}
#mprn:hover{background-position:-51px -312px;}
#mexp{width:49px;background-position:-102px -292px;}
#mexp:hover{background-position:-102px -312px;}
#mdel{width:51px;background-position:-151px -292px;}
#mdel:hover{background-position:-151px -312px;}
#search{position:absolute;top:5px;left:500px;width:59px;height:17px;background:url(s.png) no-repeat -203px -292px;color:#fff;font-family:BertholdAkzidenzGroteskBELiRg,arial;border:0px;padding:1px;padding-left:20px;}
#map_type{position:absolute;top:6px;left:600px;background:#000;border:0;font-family:BertholdAkzidenzGroteskBELiRg;color:#fff;width:70px;}

#map_canvas{width:100%;height:100%;background:#39f;}

#toolbox{position:fixed;background:transparent;bottom:0px;left:50%;margin-left:-338px;width:677px;height:170px;}
#tooltop{position:absolute;top:0px;left:0px;width:100%;height:59px;}
#toolmid{position:absolute;top:45px;left:0px;width:100%;height:127px;overflow:hidden;color:#fff;}

#topmenu{position:absolute;background:url(s.png);top:0px;left:0px;width:100%;height:43px;color:#fff;margin:0px;padding:0px;border:0;}
#tbb {margin-top:0px;}
#menu{height:59px;top:0px;color:#000;font-size:15px;}
.wrap{position:relative;margin:0 auto;padding: 0 0px;width:677px;}
.menu{background:url(s.png) no-repeat;position:absolute;z-index:10;}
.menu a{height:59px;display:block;font-size:12px;text-decoration:none;}
#m1{width:230px;left:0px;}
.mi1{background-position:0px -44px;}
#m1:hover{background-position:0px -104px;}
.ma1{background-position:0px -104px;}
#m2{width:217px;left:230px;}
.mi2{background-position:-230px -44px;}
#m2:hover{background-position:-230px -104px;}
.ma2{background-position:-230px -104px;}
#m3{width:230px;left:447px;}
.mi3{background-position:-447px -44px;}
#m3:hover{background-position:-447px -104px;}
.ma3{background-position:-447px -104px;}
#tbc1,#tbc2,#tbc3{display:none;background:url(s.png) no-repeat 0px -164px;height:127px;}
#mini{position:absolute;right:30px;top:0px;width:25px;}
.mmi{background-position:-856px 0px;}
.mma{background-position:-856px -46px;}
#tbc1_1{position:absolute;left:25px;top:30px;}
#tbc1_2{position:absolute;right:25px;top:30px;}
#tbc1_3_path{position:absolute;left:20px;top:14px;overflow:auto;width:620px;height:90px;border:0px;padding:4px;}
#tbc2_1{padding:25px;}
.pdet{}
.pdeti{background:transparent;}
.pdetp{background:rgb(51,153,255);}
.pdet:hover,.pdeta{background:rgb(255,153,51);color:#fff;}
.c1{display:inline-block;width:20px;font-weight:bold;}
.c2{display:inline-block;width:100px;}
.c3{display:inline-block;width:130px;}
.c4{display:inline-block;width:160px;}
.result{background:transparent;padding:0px 10px 0px 10px;font-style:italic;font-size:14px;font-family:arial;float:right;}
.unit{float:left;text-align:center;}
.stplbl{display:inline-block;width:110px;}
.vr{width:1px;height:12px;margin:4px;border-left:1px solid #39f;}
#vr1{position:absolute;left:286px;top:78px;width:1px;height:75px;margin:0px;border-left:1px solid #39f;}
#vr2{position:absolute;left:556px;top:78px;width:1px;height:75px;margin:0px;border-left:1px solid #39f;}
.clear{clear:both;}
#help{position:absolute;background:rgb(0,0,0);background:rgba(0,0,0,0.8);width:100%;height:100%;top:0px;left:0px;z-index:16;}
#helpx{position:absolute;top:0px;right:0px;width:40px;height:38px;background:url(s.png) no-repeat -493px -293px;z-index:17;}
#helpx a{display:block;width:40px;height:38px;text-decoration:none;}
#helpc{position:absolute;width:640px;height:100%;top:0px;left:50%;margin-left:-320px;background:#000;color:#fff;text-align:justify;}
#helpc h1{border-bottom:1px solid #fff;text-align:center;}
.wbtn{padding:3px;height:30px;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;background:#fff;color:#000;border:2px outset #000;}
.wbtn:hover{border:2px inset #000;}
.cbtn{padding:3px;height:30px;font-family:BertholdAkzidenzGroteskBELiRg,arial;font-size:16px;letter-spacing:1px;background:#000;color:#fff;border:2px outset #fff;}
.cbtn:hover{border:2px inset #fff;}